.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 700px;
    margin-bottom: 70px;
}

.popular h1{
    color: rgb(3, 24, 17);
    font-size: 50px;
    font-weight: 600;
}

.popular hr{
    width: 250px;
    padding: 2px;
    /* height: 200px; */
    background-color: #14531e;
    border-radius: 10px;

}

.popular-item{
    display: flex;
    margin-top: 50px;
    gap: 30px;
    padding: 20px;
    width: max-content;
    animation: move 10s linear infinite;
}

.popular-item:hover{
    animation-play-state: paused;
    
}

@keyframes move {
    0% {
    transform: translateX(0%); /* Start position */
  }
  100% {
    transform: translateX(-50%); /* Back to the original position */
  }
}

.popular-scroll-container {
  width: 100%;
  /* margin-bottom: 10px; */
  overflow: hidden; 
}

/* .moverop:hover{
  transform: rotateY(360deg) rotateZ(360deg) ;;
} */